html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: content-box;
}

video {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 5px solid orange;
}

.custom-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: move;
  border: solid black 1px;
  margin: 5px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  position: relative;
}

.custom-board-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-board {
  display: flex !important;
  flex-direction: row !important;
  width: 100rem;
}

.custom-column {
  display: flex !important;
  flex-direction: column !important;
  margin: 10px;
  flex: 1;
  border: solid #bdbdbd 2px;
  height: 34rem;
  border-radius: 2px;
}

.custom-column-header {
  height: 20px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.custom-column-header-counter {
  position: absolute;
  border-radius: 50%;
  border: solid black 1px;
  right: 0;
  top: 0;
  padding: 3px;
  margin: 5px;
  background-color: white;
  color: black;
}

.custom-card-counter {
  position: absolute;
  padding: 10px;
  border: solid black 1px;
  right: 0;
  top: 0;
  padding: 3px;
  margin: 5px;
  background-color: white;
  color: black;
}

.realgreen {
  background-color: green;
  color: white;
}

.realred {
  background-color: red;
  color: white;
}

.realblue {
  background-color: blue;
  color: white;
}

.dark_blue {
  background-color: #1a237e;
  color: white;
}

.light_blue {
  background-color: #40c4ff;
  /* color: white; */
}

.green {
  background-color: #76ff03;
}

.yellow {
  background-color: #ffff00;
}

.blue_grey {
  background-color: #607d8b;
}

.grey {
  background-color: #212121;
  color: white;
}
.initial-overlay-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  display: none;
  z-index: 9999;
}

.initial-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.final-overlay-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  display: none;
  z-index: 9999;
}

.final-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.initial-overlay-help-text {
  font-size: 2rem;
  text-align: center;
}

.final-overlay-help-text {
  font-size: 2rem;
  text-align: center;
}

.initial-overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem;
  width: 3rem;
  height: 3rem;
  background-image: url(../assets/close.svg);
}

.description {
  font-size: 0.8rem;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.reading_content {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  justify-self: center;
}
.reading_content_wrapper {
  display: flex;
  justify-content: center;
}

.texto_conteudo{
  text-align:left
}

.div2>label{
display:flex;
padding-left: 1rem;
max-width: 150rem;
}

.div2{
  display: flex;
  width: 150rem;
}

.wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

#quiz-content>h2{
  padding-left: 2rem;
}